# Byte-compiled / cache
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
env/
src/env/

# Log files
logs/*
!logs/.gitkeep
logs/rest_data/*
!logs/rest_data/.gitkeep

# Model files and artifacts
*.json
*.csv
# Ignore all .tflite models except the default one
*.tflite
!models/model.tflite

# System files
.DS_Store
.env

# VSCode settings (optional)
.vscode/
